In [1]:
#imports
from preprocessor import PreProcessor
from modeler import Modeller
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# read the data set
dataset = pd.read_csv("./datasets/regression/car_prices/imports-85.data", header=None)
model_type = 'regressor'
target_name = 25

In [3]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [4]:
dataset.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25],
           dtype='int64')

In [3]:
pp = PreProcessor(dataset, model_type, target_name)

In [4]:
x_train_df, x_test_df, y_train, y_test = pp.pre_processor()

HERE:  Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25'],
      dtype='object')

In [5]:
x_train_df.head()

            0       1    2     3          4  ...    20     21      22    23    24
0      toyota  diesel  std  four      sedan  ...  22.5   56.0  4500.0  34.0  36.0
1       mazda     gas  std  four      sedan  ...   8.6   84.0  4800.0  26.0  32.0
2  volkswagen     gas  std  four      sedan  ...  10.0  100.0  5500.0  26.0  32.0
3      nissan     gas  std  four      wagon  ...   9.4   69.0  5200.0  31.0  37.0
4  mitsubishi     gas  std   two  hatchback  ...   9.4   68.0  5500.0  31.0  38.0

[5 rows x 25 columns]

In [6]:
x_test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,nissan,gas,std,four,wagon,fwd,front,ohc,four,2bbl,...,53.5,2024.0,97.0,3.15,3.29,9.4,69.0,5200.0,31.0,37.0
1,mazda,gas,std,two,hatchback,rwd,front,rotor,two,4bbl,...,49.6,2380.0,70.0,3.31,3.29,9.4,101.0,6000.0,17.0,23.0
2,volvo,gas,std,four,wagon,rwd,front,ohc,four,mpfi,...,57.5,3042.0,141.0,3.78,3.15,9.5,114.0,5400.0,24.0,28.0
3,toyota,gas,std,four,sedan,fwd,front,ohc,four,2bbl,...,53.0,2081.0,98.0,3.19,3.03,9.0,70.0,4800.0,30.0,37.0
4,dodge,gas,std,two,hatchback,fwd,front,ohc,four,2bbl,...,50.8,1876.0,90.0,2.97,3.23,9.4,68.0,5500.0,31.0,38.0

In [6]:
y_train.head()

         25
158  7898.0
60   8495.0
188  9995.0
97   7999.0
77   6189.0

In [8]:
y_test.head()

          25
93    7349.0
56   11845.0
197  16515.0
156   6938.0
22    6377.0

In [7]:
md = Modeller(x_train_df, y_train, model_type)

In [8]:
model = md.build_model()

In [10]:
preds = model.predict(x_test_df)

In [11]:
print("R2: ", r2_score(y_test, preds))

R2:  0.8470082704225685