In [1]:
#imports
from preprocessor import PreProcessor
from modeler import Modeller
import pandas as pd

## Regression Demo

In [2]:
# # read the data set
# dataset = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/regression/car_prices/imports-85.data", header=None)
# model_type = 'regressor'
# target_name = 25
# feature_select = False

In [3]:
# read the data set
dataset = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/regression/fish/fish.csv")
model_type = 'regressor'
target_name = 'Weight'
feature_select = True

In [4]:
# # read the data set
# dataset_1 = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/regression/house-prices/train.csv")
# dataset_2 = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/regression/house-prices/train.csv", header=None)

# dataset = pd.concat([dataset_1, dataset_2], axis=1)

# model_type = 'regressor'
# target_name = 'SalePrice'
# feature_select = True

In [5]:
dataset.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [7]:
dataset.columns

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width'],
      dtype='object')

In [8]:
pp = PreProcessor(dataset, model_type, target_name)

In [9]:
x_train_df, x_test_df, y_train, y_test, num_cat_cols = pp.pre_processor()

In [10]:
x_train_df.head()

      Length1   Length2   Length3    Height     Width   Species
0  305.239456  0.388530  0.359948  0.365292  0.212411  0.538304
1  554.034743  0.745103  0.801713  0.946388  2.007583  1.302926
2  364.743503  0.837954  0.801713  0.701859  0.456414  1.158717
3  545.592253  2.335765  2.349476  2.321567  0.238897  1.022668
4  364.743503  0.787566  0.721639  0.625502  0.464574  1.386861

In [11]:
x_test_df.head()

      Length1   Length2   Length3    Height     Width   Species
0  327.222687 -1.973881 -2.027958 -1.955171 -2.144525 -2.035456
1  327.222687 -1.467434 -1.461029 -1.480036 -1.727537 -1.648791
2  554.034743  0.294222  0.271366  0.461439  1.192401  0.294091
3  364.743503 -1.676960 -1.649227 -1.670317 -1.496063 -1.571302
4  364.743503 -0.013435 -0.025192 -0.154499 -0.392437 -0.093409

In [12]:
y_train.head()

     Weight
54    390.0
29   1000.0
115   690.0
143  1550.0
113   700.0

In [13]:
y_test.head()

     Weight
150     8.7
158    19.9
9     500.0
73     32.0
104   265.0

In [14]:
md = Modeller(x_train_df, y_train, x_test_df, y_test, model_type, num_cat_cols, feature_select)

In [15]:
metrics_dict = md.build_model()

Feature Selection is Running.....
Selected Features:  ['Length1', 'Length2', 'Length3', 'Height', 'Width', 'Species']
Best Model for Model ID 1:    LGBMRegressor(learning_rate=0.03, max_depth=3, num_leaves=7, random_state=11)
Best Params for Model ID 1:    {'num_leaves': 7, 'n_estimators': 100, 'max_depth': 3, 'learning_rate': 0.03}
Best Model for Model ID 2:    KNeighborsRegressor(algorithm='brute', n_neighbors=3, weights='distance')
Best Params for Model ID 2:    {'weights': 'distance', 'n_neighbors': 3, 'algorithm': 'brute'}
Best Model for Model ID 3:    LinearRegression()
Best Params for Model ID 3:    {'fit_intercept': True}

/Users/shivaborusu/opt/anaconda3/envs/meta/lib/python3.10/site-packages/sklearn/model_selection/_search.py:292: UserWarning: The total space of parameters 2 is smaller than n_iter=10. Running 2 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Best Model for Model ID 4:    RandomForestRegressor(max_depth=5, n_estimators=200, random_state=11)
Best Params for Model ID 4:    {'n_estimators': 200, 'min_samples_split': 2, 'max_depth': 5, 'criterion': 'squared_error'}
Best Model for Model ID 5:    SVR(C=1, degree=4, kernel='linear')
Best Params for Model ID 5:    {'kernel': 'linear', 'degree': 4, 'C': 1}
Best Model for Model ID 6:    Ridge(alpha=0.2, solver='svd')
Best Params for Model ID 6:    {'solver': 'svd', 'random_state': None, 'alpha': 0.2}

In [16]:
metrics_dict

{'model_1': {'r2_score': 0.9421033168144203, 'MSE': 5475.385839374458},
 'model_2': {'r2_score': 0.9712128352182026, 'MSE': 2722.4501599989935},
 'model_3': {'r2_score': 0.7923537815616875, 'MSE': 19637.449012277255},
 'model_4': {'r2_score': 0.9682205157972323, 'MSE': 3005.438795668303},
 'model_5': {'r2_score': 0.6825772954664632, 'MSE': 30019.194293530007},
 'model_6': {'r2_score': 0.7865612858810132, 'MSE': 20185.25498456309}}

In [17]:
!python app.py

 * Serving Flask app "app" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on
 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
 * Restarting with watchdog (fsevents)
 * Debugger is active!
 * Debugger PIN: 596-221-605
127.0.0.1 - - [10/Sep/2022 19:03:15] "GET /apidocs/ HTTP/1.1" 200 -
127.0.0.1 - - [10/Sep/2022 19:03:15] "GET /apispec_1.json HTTP/1.1" 200 -
127.0.0.1 - - [10/Sep/2022 19:03:30] "POST /predict HTTP/1.1" 200 -
^C

## Classification Demo

In [2]:
#prima indians diabetes dataset
dataset = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/classification/pima-indians-diabetes.csv", header=None)
model_type = 'classifier'
target_name = 8

In [3]:
#sonar dataset
dataset = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/classification/sonar.all-data", header=None)
model_type = 'classifier'
target_name = 60

In [4]:
#banknote authentication
dataset = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/classification/data_banknote_authentication.txt", header=None)
model_type = 'classifier'
target_name = 4

In [5]:
dataset.head()

         0       1       2        3  4
0  3.62160  8.6661 -2.8073 -0.44699  0
1  4.54590  8.1674 -2.4586 -1.46210  0
2  3.86600 -2.6383  1.9242  0.10645  0
3  3.45660  9.5228 -4.0112 -3.59440  0
4  0.32924 -4.4552  4.5718 -0.98880  0

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1372 non-null   float64
 1   1       1372 non-null   float64
 2   2       1372 non-null   float64
 3   3       1372 non-null   float64
 4   4       1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [7]:
pp = PreProcessor(dataset, model_type, target_name)

In [8]:
x_train_df, x_test_df, y_train, y_test, cols_list = pp.pre_processor()

No Category Columns, only numerical processing will run...

In [9]:
md = Modeller(x_train_df, y_train, x_test_df, y_test, model_type, cols_list, feature_select=False)

In [10]:
metrics_dict = md.build_model()

Best Model for Model ID 1:    LGBMClassifier(max_depth=3, n_estimators=200, num_leaves=28, random_state=11)
Best Params for Model ID 1:    {'num_leaves': 28, 'n_estimators': 200, 'max_depth': 3, 'learning_rate': 0.1, 'class_weight': None, 'boosting_type': 'gbdt'}
Best Model for Model ID 2:    KNeighborsClassifier(algorithm='brute', leaf_size=50)
Best Params for Model ID 2:    {'weights': 'uniform', 'n_neighbors': 5, 'leaf_size': 50, 'algorithm': 'brute'}
Best Model for Model ID 3:    LogisticRegression(C=1, class_weight='balanced', random_state=11,
                   solver='newton-cg')
Best Params for Model ID 3:    {'solver': 'newton-cg', 'class_weight': 'balanced', 'C': 1}
Best Model for Model ID 4:    RandomForestClassifier(max_depth=5, n_estimators=200, random_state=11)
Best Params for Model ID 4:    {'n_estimators': 200, 'max_depth': 5, 'criterion': 'gini'}
Best Model for Model ID 5:    SVC(C=2, degree=4, random_state=11)
Best Params for Model ID 5:    {'random_state': 11, 'kernel': 'rbf', 'degree': 4, 'class_weight': None, 'C': 2}
Best Model for Model ID 6:    RidgeClassifier(alpha=0.4, random_state=11, solver='lsqr')
Best Params for Model ID 6:    {'solver': 'lsqr', 'random_state': 11, 'class_weight': None, 'alpha': 0.4}

In [11]:
metrics_dict

{'model_1': {'f1_score': 0.9896373056994819, 'accuracy': 0.9883381924198251},
 'model_2': {'f1_score': 0.9974160206718347, 'accuracy': 0.9970845481049563},
 'model_3': {'f1_score': 0.9974160206718347, 'accuracy': 0.9970845481049563},
 'model_4': {'f1_score': 0.984375, 'accuracy': 0.9825072886297376},
 'model_5': {'f1_score': 1.0, 'accuracy': 1.0},
 'model_6': {'f1_score': 0.9680851063829787, 'accuracy': 0.9650145772594753}}

In [ ]:
!python app.py

 * Serving Flask app "app" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on
 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
 * Restarting with watchdog (fsevents)
 * Debugger is active!
 * Debugger PIN: 596-221-605
127.0.0.1 - - [10/Sep/2022 19:16:59] "GET /apidocs/ HTTP/1.1" 200 -
127.0.0.1 - - [10/Sep/2022 19:17:00] "GET /apispec_1.json HTTP/1.1" 200 -
127.0.0.1 - - [10/Sep/2022 19:17:15] "POST /predict HTTP/1.1" 200 -
 * Detected change in '/Users/shivaborusu/Development/Meta_Modeller/src/app.py', reloading
 * Detected change in '/Users/shivaborusu/Development/Meta_Modeller/src/app.py', reloading
 * Restarting with watchdog (fsevents)
 * Debugger is active!
 * Debugger PIN: 596-221-605