In [41]:
#imports
from preprocessor import PreProcessor
from modeler import Modeller
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

## Regression Demo

In [42]:
# # read the data set
# dataset = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/regression/car_prices/imports-85.data", header=None)
# model_type = 'regressor'
# target_name = 25
# feature_select = False

In [43]:
# read the data set
dataset = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/regression/fish/fish.csv")
model_type = 'regressor'
target_name = 'Weight'
feature_select = True

In [44]:
# # read the data set
# dataset_1 = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/regression/house-prices/train.csv")
# dataset_2 = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/regression/house-prices/train.csv", header=None)

# dataset = pd.concat([dataset_1, dataset_2], axis=1)

# model_type = 'regressor'
# target_name = 'SalePrice'
# feature_select = True

In [45]:
dataset.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [46]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [47]:
dataset.columns

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width'],
      dtype='object')

In [48]:
pp = PreProcessor(dataset, model_type, target_name)

In [49]:
x_train_df, x_test_df, y_train, y_test, num_cat_cols = pp.pre_processor()

In [50]:
x_train_df.head()

      Length1   Length2   Length3    Height     Width   Species
0  305.239456  0.388530  0.359948  0.365292  0.212411  0.538304
1  554.034743  0.745103  0.801713  0.946388  2.007583  1.302926
2  364.743503  0.837954  0.801713  0.701859  0.456414  1.158717
3  545.592253  2.335765  2.349476  2.321567  0.238897  1.022668
4  364.743503  0.787566  0.721639  0.625502  0.464574  1.386861

In [51]:
x_test_df.head()

      Length1   Length2   Length3    Height     Width   Species
0  327.222687 -1.973881 -2.027958 -1.955171 -2.144525 -2.035456
1  327.222687 -1.467434 -1.461029 -1.480036 -1.727537 -1.648791
2  554.034743  0.294222  0.271366  0.461439  1.192401  0.294091
3  364.743503 -1.676960 -1.649227 -1.670317 -1.496063 -1.571302
4  364.743503 -0.013435 -0.025192 -0.154499 -0.392437 -0.093409

In [52]:
md = Modeller(x_train_df, y_train, x_test_df, y_test, model_type, num_cat_cols, feature_select)

In [53]:
metrics_dict = md.build_model()

Feature Selection is Running.....

Selected Features:  ['Length1', 'Length2', 'Length3', 'Height', 'Width', 'Species']

Best Model for Model ID 1:    LGBMRegressor(learning_rate=0.03, max_depth=3, num_leaves=7, random_state=11)
Best Params for Model ID 1:    {'num_leaves': 7, 'n_estimators': 100, 'max_depth': 3, 'learning_rate': 0.03}

Best Model for Model ID 2:    KNeighborsRegressor(algorithm='brute', n_neighbors=3, weights='distance')
Best Params for Model ID 2:    {'weights': 'distance', 'n_neighbors': 3, 'algorithm': 'brute'}

Best Model for Model ID 3:    LinearRegression()
Best Params for Model ID 3:    {'fit_intercept': True}

Best Model for Model ID 4:    RandomForestRegressor(max_depth=5, n_estimators=200, random_state=11)
Best Params for Model ID 4:    {'n_estimators': 200, 'min_samples_split': 2, 'max_depth': 5, 'criterion': 'squared_error'}

Best Model for Model ID 5:    SVR(C=1, degree=4, kernel='linear')
Best Params for Model ID 5:    {'kernel': 'linear', 'degree': 4, 'C': 1}

Best Model for Model ID 6:    Ridge(alpha=0.2, solver='svd')
Best Params for Model ID 6:    {'solver': 'svd', 'random_state': None, 'alpha': 0.2}

In [54]:
metrics_dict

{'model_1': {'r2_score': 0.9421033168144203, 'MSE': 5475.385839374458},
 'model_2': {'r2_score': 0.9712128352182026, 'MSE': 2722.4501599989935},
 'model_3': {'r2_score': 0.7923537815616875, 'MSE': 19637.449012277255},
 'model_4': {'r2_score': 0.9682205157972323, 'MSE': 3005.438795668303},
 'model_5': {'r2_score': 0.6825772954664632, 'MSE': 30019.194293530007},
 'model_6': {'r2_score': 0.7865612858810132, 'MSE': 20185.25498456309}}

In [55]:
!python app.py

 * Serving Flask app "app" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on
 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
 * Restarting with watchdog (fsevents)
 * Debugger is active!
 * Debugger PIN: 596-221-605
127.0.0.1 - - [11/Sep/2022 14:46:40] "GET / HTTP/1.1" 404 -
127.0.0.1 - - [11/Sep/2022 14:46:43] "GET /apidocs/ HTTP/1.1" 200 -
127.0.0.1 - - [11/Sep/2022 14:46:44] "GET /apispec_1.json HTTP/1.1" 200 -
127.0.0.1 - - [11/Sep/2022 14:47:33] "POST /predict HTTP/1.1" 200 -
^C

## Classification Demo

In [56]:
#imports
from preprocessor import PreProcessor
from modeler import Modeller
import pandas as pd

In [57]:
# #prima indians diabetes dataset
# dataset = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/classification/pima-indians-diabetes.csv", header=None)
# model_type = 'classifier'
# target_name = 8

In [58]:
#sonar dataset
dataset = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/classification/sonar.all-data", header=None)
model_type = 'classifier'
target_name = 60

In [59]:
# #banknote authentication
# dataset = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/classification/data_banknote_authentication.txt", header=None)
# model_type = 'classifier'
# target_name = 4

In [60]:
# #iris dataset - multi class
# dataset = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/classification/iris.csv", header='infer')
# model_type = 'classifier'
# target_name = 'target'

In [61]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [62]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       208 non-null    float64
 1   1       208 non-null    float64
 2   2       208 non-null    float64
 3   3       208 non-null    float64
 4   4       208 non-null    float64
 5   5       208 non-null    float64
 6   6       208 non-null    float64
 7   7       208 non-null    float64
 8   8       208 non-null    float64
 9   9       208 non-null    float64
 10  10      208 non-null    float64
 11  11      208 non-null    float64
 12  12      208 non-null    float64
 13  13      208 non-null    float64
 14  14      208 non-null    float64
 15  15      208 non-null    float64
 16  16      208 non-null    float64
 17  17      208 non-null    float64
 18  18      208 non-null    float64
 19  19      208 non-null    float64
 20  20      208 non-null    float64
 21  21      208 non-null    float64
 22  22      208 non-null    float64
 23  23      208 non-null    float64
 24  24      208 non-null    float64
 25  25      208 non-null    float64
 26  26      208 non-null    float64
 27  27      208 non-null    float64
 28  28      208 non-null    float64
 29  29      208 non-null    float64
 30  30      208 non-null    float64
 31  31      208 non-null    float64
 32  32      208 non-null    float64
 33  33      208 non-null    float64
 34  34      208 non-null    float64
 35  35      208 non-null    float64
 36  36      208 non-null    float64
 37  37      208 non-null    float64
 38  38      208 non-null    float64
 39  39      208 non-null    float64
 40  40      208 non-null    float64
 41  41      208 non-null    float64
 42  42      208 non-null    float64
 43  43      208 non-null    float64
 44  44      208 non-null    float64
 45  45      208 non-null    float64
 46  46      208 non-null    float64
 47  47      208 non-null    float64
 48  48      208 non-null    float64
 49  49      208 non-null    float64
 50  50      208 non-null    float64
 51  51      208 non-null    float64
 52  52      208 non-null    float64
 53  53      208 non-null    float64
 54  54      208 non-null    float64
 55  55      208 non-null    float64
 56  56      208 non-null    float64
 57  57      208 non-null    float64
 58  58      208 non-null    float64
 59  59      208 non-null    float64
 60  60      208 non-null    object
dtypes: float64(60), object(1)
memory usage: 99.2+ KB

In [63]:
pp = PreProcessor(dataset, model_type, target_name)

In [64]:
x_train_df, x_test_df, y_train, y_test, cols_list = pp.pre_processor()

No Category Columns, only numerical processing will run...

In [65]:
md = Modeller(x_train_df, y_train, x_test_df, y_test, model_type, cols_list, feature_select=False)

In [66]:
metrics_dict = md.build_model()

Best Model for Model ID 1:    LGBMClassifier(learning_rate=0.03, n_estimators=500, num_leaves=14,
               random_state=11)
Best Params for Model ID 1:    {'num_leaves': 14, 'n_estimators': 500, 'max_depth': -1, 'learning_rate': 0.03, 'class_weight': None, 'boosting_type': 'gbdt'}

Best Model for Model ID 2:    KNeighborsClassifier(algorithm='kd_tree', n_neighbors=3)
Best Params for Model ID 2:    {'weights': 'uniform', 'n_neighbors': 3, 'leaf_size': 30, 'algorithm': 'kd_tree'}

Best Model for Model ID 3:    LogisticRegression(C=0.2, random_state=11, solver='newton-cg')
Best Params for Model ID 3:    {'solver': 'newton-cg', 'class_weight': None, 'C': 0.2}

Best Model for Model ID 4:    RandomForestClassifier(criterion='entropy', max_depth=5, random_state=11)
Best Params for Model ID 4:    {'n_estimators': 100, 'max_depth': 5, 'criterion': 'entropy'}

Best Model for Model ID 5:    SVC(C=2, degree=4, random_state=11)
Best Params for Model ID 5:    {'random_state': 11, 'kernel': 'rbf', 'degree': 4, 'class_weight': None, 'C': 2}

Best Model for Model ID 6:    RidgeClassifier(alpha=1, random_state=11, solver='sag')
Best Params for Model ID 6:    {'solver': 'sag', 'random_state': 11, 'class_weight': None, 'alpha': 1}

In [67]:
metrics_dict

{'model_1': {'f1_score': 0.8653348131705513, 'accuracy': 0.8653846153846154},
 'model_2': {'f1_score': 0.6700261291526689, 'accuracy': 0.6730769230769231},
 'model_3': {'f1_score': 0.8074074074074075, 'accuracy': 0.8076923076923077},
 'model_4': {'f1_score': 0.8065476190476191, 'accuracy': 0.8076923076923077},
 'model_5': {'f1_score': 0.8074074074074075, 'accuracy': 0.8076923076923077},
 'model_6': {'f1_score': 0.7692307692307693, 'accuracy': 0.7692307692307693}}

In [69]:
!python app.py

 * Serving Flask app "app" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on
 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
 * Restarting with watchdog (fsevents)
 * Debugger is active!
 * Debugger PIN: 596-221-605
^C