In [1]:
#imports
from preprocessor import PreProcessor
from modeler import Modeller
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# read the data set
dataset = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/regression/car_prices/imports-85.data", header=None)
model_type = 'regressor'
target_name = 25

In [3]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [4]:
dataset.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25],
           dtype='int64')

In [5]:
pp = PreProcessor(dataset, model_type, target_name)

In [6]:
x_train_df, x_test_df, y_train, y_test = pp.pre_processor()

In [7]:
x_train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,10815.814651,13142.063604,12643.664343,13291.278800,9672.092478,20408.515430,13061.266616,11606.217183,10534.807373,17819.744738,...,-0.872437,0.098045,0.781502,1.030338,0.778060,0.228734,0.600081,-0.609869,-0.099719,-0.031804
1,16499.133924,13142.063604,12643.664343,13291.278800,16083.191144,20408.515430,16740.147568,14288.705211,17995.968986,17819.744738,...,-1.046490,0.476431,1.567377,1.430964,-1.141349,0.358557,1.997744,1.740596,-1.479908,-0.834027
2,12542.151183,13142.063604,12643.664343,13615.700436,14464.944686,9387.820115,13061.266616,11606.217183,10534.807373,17819.744738,...,0.713200,-0.432560,-0.324786,-0.541462,0.439361,0.639373,0.174029,0.892289,0.224820,0.263173
3,10815.814651,13142.063604,12643.664343,13615.700436,13195.200000,12862.815026,13061.266616,11606.217183,10534.807373,7705.632754,...,2.133874,1.039359,-1.147108,-1.105544,-0.748456,0.011738,-1.423959,-0.609869,0.378337,0.263173
4,14597.670467,13142.063604,12643.664343,13615.700436,13195.200000,20408.515430,13061.266616,11606.217183,10534.807373,17819.744738,...,1.469471,0.938909,0.667303,1.561198,-0.374499,0.358557,0.551722,0.679116,-0.099719,-0.340721

In [8]:
x_test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,10815.814651,13142.063604,12643.664343,13291.278800,9672.092478,20408.515430,13061.266616,15049.678173,17995.968986,17819.744738,...,-0.872437,0.899606,1.248342,-0.231452,0.272830,0.228734,1.439266,0.251389,-1.038138,-1.007492
1,12326.661595,13142.063604,12643.664343,13291.278800,9672.092478,9387.820115,13061.266616,11606.217183,10534.807373,12276.553590,...,-0.612346,-1.319815,-1.147108,-1.699137,0.472893,0.159529,-0.698565,1.951617,0.808527,0.545631
2,14597.670467,13142.063604,15929.923102,13615.700436,14464.944686,20408.515430,13061.266616,11606.217183,10534.807373,17819.744738,...,0.628577,0.968801,0.667303,1.561198,-0.374499,0.358557,0.551722,0.679116,-1.038138,-0.834027
3,12542.151183,13142.063604,12643.664343,13615.700436,14464.944686,9387.820115,13061.266616,11606.217183,15859.399548,17819.744738,...,0.458968,0.306528,0.544320,-0.541462,0.439361,-0.421155,0.451122,0.892289,-1.038138,-1.007492
4,12363.424015,13142.063604,15929.923102,13291.278800,9672.092478,9387.820115,13061.266616,11606.217183,10534.807373,17819.744738,...,-1.396205,-0.849247,-0.822933,-1.188477,0.405904,-1.512794,0.232654,0.892289,-0.099719,-0.031804

In [9]:
y_train.head()

        25
165   9989
123  32528
184   9995
151   8778
193  16515

In [10]:
y_test.head()

        25
175  15998
33    7129
200  22625
187  13295
22    7957

In [11]:
md = Modeller(x_train_df, y_train, x_test_df, y_test, model_type)

In [12]:
metrics_dict = md.build_model()

BEST_MODEL:    LGBMRegressor(max_depth=3, num_leaves=28, random_state=11)
BEST_PARAMS LGBM:  {'num_leaves': 28, 'n_estimators': 100, 'max_depth': 3, 'learning_rate': 0.1}
BEST_MODEL:    KNeighborsRegressor(algorithm='brute', n_neighbors=3, weights='distance')
BEST_PARAMS KNN:  {'weights': 'distance', 'n_neighbors': 3, 'algorithm': 'brute'}

/Users/shivaborusu/opt/anaconda3/envs/meta/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
10 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/shivaborusu/opt/anaconda3/envs/meta/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/shivaborusu/opt/anaconda3/envs/meta/lib/python3.10/site-packages/sklearn/ensemble/_forest.py", line 450, in fit
    trees = Parallel(
  File "/Users/shivaborusu/opt/anaconda3/envs/meta/lib/python3.10/site-packages/joblib/parallel.py", line 1043, in __call__
    if self.dispatch_one_batch(iterator):
  File "/Users/shivaborusu/opt/anaconda3/envs/meta/lib/python3.10/site-packages/joblib/parallel.py", line 861, in dispatch_one_batch
    self._dispatch(tasks)
  File "/Users/shivaborusu/opt/anaconda3/envs/meta/lib/python3.10/site-packages/joblib/parallel.py", line 779, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "/Users/shivaborusu/opt/anaconda3/envs/meta/lib/python3.10/site-packages/joblib/_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "/Users/shivaborusu/opt/anaconda3/envs/meta/lib/python3.10/site-packages/joblib/_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "/Users/shivaborusu/opt/anaconda3/envs/meta/lib/python3.10/site-packages/joblib/parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "/Users/shivaborusu/opt/anaconda3/envs/meta/lib/python3.10/site-packages/joblib/parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "/Users/shivaborusu/opt/anaconda3/envs/meta/lib/python3.10/site-packages/sklearn/utils/fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "/Users/shivaborusu/opt/anaconda3/envs/meta/lib/python3.10/site-packages/sklearn/ensemble/_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "/Users/shivaborusu/opt/anaconda3/envs/meta/lib/python3.10/site-packages/sklearn/tree/_classes.py", line 1315, in fit
    super().fit(
  File "/Users/shivaborusu/opt/anaconda3/envs/meta/lib/python3.10/site-packages/sklearn/tree/_classes.py", line 306, in fit
    raise ValueError("max_depth must be greater than zero. ")
ValueError: max_depth must be greater than zero.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Users/shivaborusu/opt/anaconda3/envs/meta/lib/python3.10/site-packages/sklearn/model_selection/_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.90379951 0.45943584 0.89224348        nan        nan 0.90155821
 0.90316382 0.90029608 0.89143845 0.46374081]
  warnings.warn(

BEST_MODEL:    RandomForestRegressor(max_depth=5, n_estimators=200, random_state=11)
BEST_PARAMS RF:  {'n_estimators': 200, 'max_depth': 5, 'criterion': 'squared_error'}

In [13]:
metrics_dict

{LGBMRegressor(max_depth=3, num_leaves=28, random_state=11): 0.8808623505883404,
 KNeighborsRegressor(algorithm='brute', n_neighbors=3, weights='distance'): 0.6467076309916858,
 LinearRegression(): 0.7419578539102845,
 RandomForestRegressor(max_depth=5, n_estimators=200, random_state=11): 0.9180880926658307}

In [14]:
#preds = model.predict(x_test_df)

In [15]:
#print("R2: ", r2_score(y_test, preds))