In [ ]:
# imports
import pandas as pd
import numpy as np
SEED=11

In [ ]:
# read the data set
dataset = pd.read_csv("./datasets/regression/car_prices/imports-85.data", header=None)
#dataset.rename(columns={25:"target"}, inplace=True)
dataset.replace("?", np.NaN, inplace=True)
dataset = dataset[dataset[25].isnull() == False]

In [ ]:
dataset.to_csv("./datasets/regression/car_prices/car.csv", index=False)
dataset = pd.read_csv("./datasets/regression/car_prices/car.csv")

In [ ]:
dataset.head()

In [ ]:
dataset.info()

In [ ]:
target = dataset[["target"]]
dataset.drop("target", axis=1, inplace=True)

In [ ]:
cat_cols = dataset.select_dtypes(include='object').columns
num_cols = dataset.select_dtypes(exclude='object').columns

In [ ]:
cat_cols

In [ ]:
num_cols

In [ ]:
dataset_cat = dataset[cat_cols]
dataset_num = dataset[num_cols]

In [ ]:
dataset_cat.head()

In [ ]:
dataset_num.head()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train_cat, x_test_cat, x_train_num, x_test_num, y_train, y_test =\
train_test_split(dataset_cat, dataset_num, target, random_state=SEED)

In [ ]:
x_train_cat.head()

In [ ]:
x_train_num.head()

In [ ]:
y_train.head()

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imputer_cat = SimpleImputer(strategy='constant', fill_value='NA')
imputer_num = SimpleImputer(strategy='median')

In [ ]:
x_train_cat = imputer_cat.fit_transform(x_train_cat)
x_test_cat = imputer_cat.transform(x_test_cat)

In [ ]:
x_train_cat

In [ ]:
x_train_num = imputer_num.fit_transform(x_train_num)
x_test_num = imputer_num.transform(x_test_num)

In [ ]:
x_train = np.hstack([x_train_cat, x_train_num])
x_test = np.hstack([x_test_cat, x_test_num])

In [ ]:
print(x_train.shape)
print(x_test.shape)

In [ ]:
x_train_df = pd.DataFrame(x_train, dtype=None)
x_train_df.to_csv("./datasets/regression/car_prices/x_train_df.csv", index=False)
x_train_df = pd.read_csv("./datasets/regression/car_prices/x_train_df.csv")


x_test_df = pd.DataFrame(x_test, dtype=None)
x_test_df.to_csv("./datasets/regression/car_prices/x_test_df.csv", index=False)
x_test_df = pd.read_csv("./datasets/regression/car_prices/x_test_df.csv")

In [ ]:
x_train_df.head()

In [ ]:
x_train_df.info()

In [ ]:
from lightgbm import LGBMRegressor, LGBMClassifier

In [ ]:
regressor = LGBMRegressor(random_state=SEED)

In [ ]:
# classifier = LGBMClassifier(random_state=SEED)
# classifier.fit(x_train_df, np.ravel(y_train), categorical_feature='auto')

In [ ]:
x_train_df.info()

In [ ]:
cat_cols = x_train_df.select_dtypes(include='object').columns
for col in cat_cols:
    x_train_df[col] = x_train_df[col].astype('category')
    x_test_df[col] = x_test_df[col].astype('category')

In [ ]:
x_train_df.info()

In [ ]:
regressor.fit(x_train_df, np.ravel(y_train))

In [ ]:
preds = regressor.predict(x_test_df)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
print("R2: ", r2_score(y_test, preds))

## Feature selection exploration

In [ ]:
#imports
from preprocessor import PreProcessor
from modeler import Modeller
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
# read the data set
dataset = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/regression/car_prices/imports-85.data", header=None)
model_type = 'regressor'
target_name = 25

In [ ]:
pp = PreProcessor(dataset, model_type, target_name)

In [ ]:
x_train_df, x_test_df, y_train, y_test, num_cat_cols = pp.pre_processor()

In [ ]:
num_cat_cols

In [ ]:
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.feature_selection import SelectFromModel, RFECV

In [ ]:
model = RandomForestRegressor(random_state=11)

In [ ]:
feat_est =  RFECV(model)
feat_est.fit(x_train_df, np.ravel(y_train))

In [ ]:
feat_est.feature_names_in_

In [ ]:
len(feat_est.feature_names_in_)

In [ ]:
sup_indices = feat_est.get_support(indices=True)

In [ ]:
sup_indices

In [ ]:
feat_est.get_support()

In [ ]:
selected_feat = [x_train_df.columns.tolist()[i] for i in sup_indices]

In [ ]:
selected_feat

## Classifiction Models Building

In [8]:
# imports
import pandas as pd
import numpy as np
SEED=11

#imports
from preprocessor import PreProcessor
from modeler import Modeller
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score

In [9]:
dataset = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/classification/pima-indians-diabetes.csv", header=None)
model_type = 'classifier'
target_name = 8

In [12]:
dataset = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/classification/sonar.all-data", header=None)
model_type = 'classifier'
target_name = 60

In [2]:
dataset = pd.read_csv("/Users/shivaborusu/Development/Meta_Modeller/datasets/classification/data_banknote_authentication.txt", header=None)
model_type = 'classifier'
target_name = 4

In [13]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       208 non-null    float64
 1   1       208 non-null    float64
 2   2       208 non-null    float64
 3   3       208 non-null    float64
 4   4       208 non-null    float64
 5   5       208 non-null    float64
 6   6       208 non-null    float64
 7   7       208 non-null    float64
 8   8       208 non-null    float64
 9   9       208 non-null    float64
 10  10      208 non-null    float64
 11  11      208 non-null    float64
 12  12      208 non-null    float64
 13  13      208 non-null    float64
 14  14      208 non-null    float64
 15  15      208 non-null    float64
 16  16      208 non-null    float64
 17  17      208 non-null    float64
 18  18      208 non-null    float64
 19  19      208 non-null    float64
 20  20      208 non-null    float64
 21  21      208 non-null    float64
 22  22      208 non-null    float64
 23  23      208 non-null    float64
 24  24      208 non-null    float64
 25  25      208 non-null    float64
 26  26      208 non-null    float64
 27  27      208 non-null    float64
 28  28      208 non-null    float64
 29  29      208 non-null    float64
 30  30      208 non-null    float64
 31  31      208 non-null    float64
 32  32      208 non-null    float64
 33  33      208 non-null    float64
 34  34      208 non-null    float64
 35  35      208 non-null    float64
 36  36      208 non-null    float64
 37  37      208 non-null    float64
 38  38      208 non-null    float64
 39  39      208 non-null    float64
 40  40      208 non-null    float64
 41  41      208 non-null    float64
 42  42      208 non-null    float64
 43  43      208 non-null    float64
 44  44      208 non-null    float64
 45  45      208 non-null    float64
 46  46      208 non-null    float64
 47  47      208 non-null    float64
 48  48      208 non-null    float64
 49  49      208 non-null    float64
 50  50      208 non-null    float64
 51  51      208 non-null    float64
 52  52      208 non-null    float64
 53  53      208 non-null    float64
 54  54      208 non-null    float64
 55  55      208 non-null    float64
 56  56      208 non-null    float64
 57  57      208 non-null    float64
 58  58      208 non-null    float64
 59  59      208 non-null    float64
 60  60      208 non-null    object
dtypes: float64(60), object(1)
memory usage: 99.2+ KB

In [4]:
dataset.head()

         0       1       2        3  4
0  3.62160  8.6661 -2.8073 -0.44699  0
1  4.54590  8.1674 -2.4586 -1.46210  0
2  3.86600 -2.6383  1.9242  0.10645  0
3  3.45660  9.5228 -4.0112 -3.59440  0
4  0.32924 -4.4552  4.5718 -0.98880  0

In [3]:
pp = PreProcessor(dataset, model_type, target_name)

In [4]:
x_train_df, x_test_df, y_train, y_test, cols_list = pp.pre_processor()

No Category Columns, only numerical processing will run...

In [5]:
md = Modeller(x_train_df, y_train, x_test_df, y_test, model_type, cols_list, feature_select=False)

In [6]:
metrics_dict = md.build_model()

Best Model for Model ID 1:    LGBMClassifier(learning_rate=0.03, n_estimators=500, num_leaves=14,
               random_state=11)
Best Params for Model ID 1:    {'num_leaves': 14, 'n_estimators': 500, 'max_depth': -1, 'learning_rate': 0.03, 'class_weight': None, 'boosting_type': 'gbdt'}
Best Model for Model ID 2:    KNeighborsClassifier(algorithm='kd_tree', n_neighbors=3)
Best Params for Model ID 2:    {'weights': 'uniform', 'n_neighbors': 3, 'leaf_size': 30, 'algorithm': 'kd_tree'}
Best Model for Model ID 3:    LogisticRegression(C=0.2, random_state=11, solver='newton-cg')
Best Params for Model ID 3:    {'solver': 'newton-cg', 'class_weight': None, 'C': 0.2}
Best Model for Model ID 4:    RandomForestClassifier(criterion='entropy', max_depth=5, random_state=11)
Best Params for Model ID 4:    {'n_estimators': 100, 'max_depth': 5, 'criterion': 'entropy'}
Best Model for Model ID 5:    SVC(C=2, degree=4, random_state=11)
Best Params for Model ID 5:    {'random_state': 11, 'kernel': 'rbf', 'degree': 4, 'class_weight': None, 'C': 2}
Best Model for Model ID 6:    RidgeClassifier(alpha=1, random_state=11, solver='sag')
Best Params for Model ID 6:    {'solver': 'sag', 'random_state': 11, 'class_weight': None, 'alpha': 1}

In [7]:
metrics_dict

{'model_1': {'f1_score': 0.8627450980392156, 'accuracy': 0.8653846153846154},
 'model_2': {'f1_score': 0.7017543859649122, 'accuracy': 0.6730769230769231},
 'model_3': {'f1_score': 0.8, 'accuracy': 0.8076923076923077},
 'model_4': {'f1_score': 0.8214285714285715, 'accuracy': 0.8076923076923077},
 'model_5': {'f1_score': 0.8, 'accuracy': 0.8076923076923077},
 'model_6': {'f1_score': 0.7692307692307693, 'accuracy': 0.7692307692307693}}