In [66]:
# imports
import pandas as pd
import numpy as np
SEED=11

In [67]:
# read the data set
dataset = pd.read_csv("./datasets/regression/car_prices/imports-85.data", header=None)
#dataset.rename(columns={25:"target"}, inplace=True)
dataset.replace("?", np.NaN, inplace=True)
dataset = dataset[dataset[25].isnull() == False]

In [68]:
dataset.to_csv("./datasets/regression/car_prices/car.csv", index=False)
dataset = pd.read_csv("./datasets/regression/car_prices/car.csv")

In [69]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       201 non-null    int64
 1   1       164 non-null    float64
 2   2       201 non-null    object
 3   3       201 non-null    object
 4   4       201 non-null    object
 5   5       199 non-null    object
 6   6       201 non-null    object
 7   7       201 non-null    object
 8   8       201 non-null    object
 9   9       201 non-null    float64
 10  10      201 non-null    float64
 11  11      201 non-null    float64
 12  12      201 non-null    float64
 13  13      201 non-null    int64
 14  14      201 non-null    object
 15  15      201 non-null    object
 16  16      201 non-null    int64
 17  17      201 non-null    object
 18  18      197 non-null    float64
 19  19      197 non-null    float64
 20  20      201 non-null    float64
 21  21      199 non-null    float64
 22  22      199 non-null    float64
 23  23      201 non-null    int64
 24  24      201 non-null    int64
 25  target  201 non-null    int64
dtypes: float64(10), int64(6), object(10)
memory usage: 41.0+ KB

In [5]:
target = dataset[["target"]]
dataset.drop("target", axis=1, inplace=True)

In [6]:
cat_cols = dataset.select_dtypes(include='object').columns
num_cols = dataset.select_dtypes(exclude='object').columns

In [7]:
cat_cols

Index(['2', '3', '4', '5', '6', '7', '8', '14', '15', '17'], dtype='object')

In [8]:
num_cols

Index(['0', '1', '9', '10', '11', '12', '13', '16', '18', '19', '20', '21',
       '22', '23', '24'],
      dtype='object')

In [9]:
dataset_cat = dataset[cat_cols]
dataset_num = dataset[num_cols]

In [10]:
dataset_cat.head()

             2    3    4     5            6    7      8    14    15    17
0  alfa-romero  gas  std   two  convertible  rwd  front  dohc  four  mpfi
1  alfa-romero  gas  std   two  convertible  rwd  front  dohc  four  mpfi
2  alfa-romero  gas  std   two    hatchback  rwd  front  ohcv   six  mpfi
3         audi  gas  std  four        sedan  fwd  front   ohc  four  mpfi
4         audi  gas  std  four        sedan  4wd  front   ohc  five  mpfi

In [11]:
dataset_num.head()

,0,1,9,10,11,12,13,16,18,19,20,21,22,23,24
0,3,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27
1,3,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27
2,1,NaN,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train_cat, x_test_cat, x_train_num, x_test_num, y_train, y_test =\
train_test_split(dataset_cat, dataset_num, target, random_state=SEED)

In [14]:
x_train_cat.head()

              2    3    4     5          6    7      8    14    15    17
165      toyota  gas  std   two  hatchback  rwd  front   ohc  four  mpfi
123     porsche  gas  std   two    hardtop  rwd   rear  ohcf   six  mpfi
184  volkswagen  gas  std  four      sedan  fwd  front   ohc  four  mpfi
151      toyota  gas  std  four      wagon  4wd  front   ohc  four  2bbl
193       volvo  gas  std  four      wagon  rwd  front   ohc  four  mpfi

In [15]:
x_train_num.head()

,0,1,9,10,11,12,13,16,18,19,20,21,22,23,24
165,2,134.0,98.4,176.2,65.6,52.0,2551,146,3.62,3.50,9.3,116.0,4800.0,24,30
123,3,NaN,89.5,168.9,65.0,51.6,2756,194,3.74,2.90,9.5,207.0,5900.0,17,25
184,2,94.0,97.3,171.7,65.5,55.7,2300,109,3.19,3.40,10.0,100.0,5500.0,26,32
151,0,91.0,95.7,169.7,63.6,59.1,3110,92,3.05,3.03,9.0,62.0,4800.0,27,32
193,-1,74.0,104.3,188.8,67.2,57.5,3042,141,3.78,3.15,9.5,114.0,5400.0,24,28

In [16]:
y_train.head()

     target
165    9989
123   32528
184    9995
151    8778
193   16515

In [17]:
from sklearn.impute import SimpleImputer

In [18]:
imputer_cat = SimpleImputer(strategy='constant', fill_value='NA')
imputer_num = SimpleImputer(strategy='median')

In [19]:
x_train_cat = imputer_cat.fit_transform(x_train_cat)
x_test_cat = imputer_cat.transform(x_test_cat)

In [20]:
x_train_cat

array([['toyota', 'gas', 'std', ..., 'ohc', 'four', 'mpfi'],
       ['porsche', 'gas', 'std', ..., 'ohcf', 'six', 'mpfi'],
       ['volkswagen', 'gas', 'std', ..., 'ohc', 'four', 'mpfi'],
       ...,
       ['mitsubishi', 'gas', 'turbo', ..., 'ohc', 'four', 'spdi'],
       ['volvo', 'gas', 'std', ..., 'ohc', 'four', 'mpfi'],
       ['toyota', 'gas', 'std', ..., 'ohc', 'four', '2bbl']], dtype=object)

In [21]:
x_train_num = imputer_num.fit_transform(x_train_num)
x_test_num = imputer_num.transform(x_test_num)

In [22]:
x_train = np.hstack([x_train_cat, x_train_num])
x_test = np.hstack([x_test_cat, x_test_num])

In [23]:
print(x_train.shape)
print(x_test.shape)

(150, 25)
(51, 25)

In [57]:
x_train_df = pd.DataFrame(x_train, dtype=None)
x_train_df.to_csv("./datasets/regression/car_prices/x_train_df.csv", index=False)
x_train_df = pd.read_csv("./datasets/regression/car_prices/x_train_df.csv")


x_test_df = pd.DataFrame(x_test, dtype=None)
x_test_df.to_csv("./datasets/regression/car_prices/x_test_df.csv", index=False)
x_test_df = pd.read_csv("./datasets/regression/car_prices/x_test_df.csv")

In [47]:
x_train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,toyota,gas,std,two,hatchback,rwd,front,ohc,four,mpfi,...,52.0,2551.0,146.0,3.62,3.50,9.3,116.0,4800.0,24.0,30.0
1,porsche,gas,std,two,hardtop,rwd,rear,ohcf,six,mpfi,...,51.6,2756.0,194.0,3.74,2.90,9.5,207.0,5900.0,17.0,25.0
2,volkswagen,gas,std,four,sedan,fwd,front,ohc,four,mpfi,...,55.7,2300.0,109.0,3.19,3.40,10.0,100.0,5500.0,26.0,32.0
3,toyota,gas,std,four,wagon,4wd,front,ohc,four,2bbl,...,59.1,3110.0,92.0,3.05,3.03,9.0,62.0,4800.0,27.0,32.0
4,volvo,gas,std,four,wagon,rwd,front,ohc,four,mpfi,...,57.5,3042.0,141.0,3.78,3.15,9.5,114.0,5400.0,24.0,28.0

In [48]:
x_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       150 non-null    object
 1   1       150 non-null    object
 2   2       150 non-null    object
 3   3       150 non-null    object
 4   4       150 non-null    object
 5   5       150 non-null    object
 6   6       150 non-null    object
 7   7       150 non-null    object
 8   8       150 non-null    object
 9   9       150 non-null    object
 10  10      150 non-null    float64
 11  11      150 non-null    float64
 12  12      150 non-null    float64
 13  13      150 non-null    float64
 14  14      150 non-null    float64
 15  15      150 non-null    float64
 16  16      150 non-null    float64
 17  17      150 non-null    float64
 18  18      150 non-null    float64
 19  19      150 non-null    float64
 20  20      150 non-null    float64
 21  21      150 non-null    float64
 22  22      150 non-null    float64
 23  23      150 non-null    float64
 24  24      150 non-null    float64
dtypes: float64(15), object(10)
memory usage: 29.4+ KB

In [27]:
from lightgbm import LGBMRegressor, LGBMClassifier

In [28]:
regressor = LGBMRegressor(random_state=SEED)

In [29]:
# classifier = LGBMClassifier(random_state=SEED)
# classifier.fit(x_train_df, np.ravel(y_train), categorical_feature='auto')

In [42]:
x_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       150 non-null    object
 1   1       150 non-null    object
 2   2       150 non-null    object
 3   3       150 non-null    object
 4   4       150 non-null    object
 5   5       150 non-null    object
 6   6       150 non-null    object
 7   7       150 non-null    object
 8   8       150 non-null    object
 9   9       150 non-null    object
 10  10      150 non-null    object
 11  11      150 non-null    object
 12  12      150 non-null    object
 13  13      150 non-null    object
 14  14      150 non-null    object
 15  15      150 non-null    object
 16  16      150 non-null    object
 17  17      150 non-null    object
 18  18      150 non-null    object
 19  19      150 non-null    object
 20  20      150 non-null    object
 21  21      150 non-null    object
 22  22      150 non-null    object
 23  23      150 non-null    object
 24  24      150 non-null    object
dtypes: object(25)
memory usage: 29.4+ KB

In [58]:
cat_cols = x_train_df.select_dtypes(include='object').columns
for col in cat_cols:
    x_train_df[col] = x_train_df[col].astype('category')
    x_test_df[col] = x_test_df[col].astype('category')

In [54]:
x_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       150 non-null    category
 1   1       150 non-null    category
 2   2       150 non-null    category
 3   3       150 non-null    category
 4   4       150 non-null    category
 5   5       150 non-null    category
 6   6       150 non-null    category
 7   7       150 non-null    category
 8   8       150 non-null    category
 9   9       150 non-null    category
 10  10      150 non-null    float64
 11  11      150 non-null    float64
 12  12      150 non-null    float64
 13  13      150 non-null    float64
 14  14      150 non-null    float64
 15  15      150 non-null    float64
 16  16      150 non-null    float64
 17  17      150 non-null    float64
 18  18      150 non-null    float64
 19  19      150 non-null    float64
 20  20      150 non-null    float64
 21  21      150 non-null    float64
 22  22      150 non-null    float64
 23  23      150 non-null    float64
 24  24      150 non-null    float64
dtypes: category(10), float64(15)
memory usage: 21.5 KB

In [56]:
regressor.fit(x_train_df, np.ravel(y_train))

LGBMRegressor(random_state=11)

In [60]:
preds = regressor.predict(x_test_df)

In [64]:
from sklearn.metrics import mean_squared_error, r2_score

In [65]:
print("R2: ", r2_score(y_test, preds))

R2:  0.8535512076413548